@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

body {
  background-color: rgb(255, 224, 96);
  --rotation: 0rad;
  font-family: 'Instrument Serif', serif;
  overflow-x: hidden;
}

#largeGear {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%) rotate(calc(-0.5 * var(--rotation)));
}

#smallGear {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(calc(273px - 50%)) translateY(327px) rotate(var(--rotation));
}

#handle {
  --grabOffset: 0rad;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(calc(273px - 50%)) translateY(327px) rotate(var(--rotation));
}

#handleInteract:hover {
  filter: brightness(70%);
}

.nameBlock {
  position: absolute;
  left: 50%;
  top: 395px;
  width: 150px;
  height: 100px;
  background-color: black;
  border: solid 4px black;
  color: rgb(255, 224, 96);
  padding: 0px 5px;
  font-size: 96px;
  text-align: center;
  line-height: 100px;
  user-select: none;
  transform: translateX(-50%) translateY(-50%);
}

.rotatingBlock {
  text-align: right;
  transform: translateX(calc(-50% + 200px * cos(-0.5 * (var(--offset) + var(--rotation)))))
    translateY(calc(-50% + 200px * sin(-0.5 * (var(--offset) + var(--rotation)))));
}

section {
  background-color: black;
}

::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-color: black;
  border-width: 2px;
  border-style: solid none solid solid;
  background: repeating-linear-gradient(135deg,
  black 0px,
  black 5px,
  rgb(255, 224, 96) 5px,
  rgb(255, 224, 96) 10px,
  black 10px);
}